
.vs/GLSetupTest/v17/ipch/AutoPCH/19060b8c2e8709a/SHADER.ipch
*.obj
*.tlog
.vs/GLSetupTest/v17/ipch/AutoPCH/28ca714fa21066ce/MAIN.ipch
*.vsidx
/GLSetupTest/x64/Debug
/.vs/GLSetupTest/v17
/.vs/GLSetupTest/v17/ipch/AutoPCH/28ca714fa21066ce
*.ipch
/GLSetupTest/vcpkg_installed/vcpkg
/x64
GLSetupTest/vcpkg_installed/x64-windows/vcpkg/updates/0000000000
GLSetupTest/vcpkg_installed/x64-windows/vcpkg/updates/0000000001
/GLSetupTest/vcpkg_installed
/EngineTests/vcpkg_installed
/GLSetupTest/x64
/EngineTests/x64
/EngineTests/x64/Debug
Code.zip
Assets/Bistro_Godot.glb
Assets/Bistro_Godot2.glb
/GLSetupTest/imgui/examples
